@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      'Figtree',
      system-ui,
      -apple-system,
      sans-serif;
  }
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
  font-style: italic;
}
